/*Page Specific*/
@import "users";
@import "homepage";
/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "breadcrumb";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "blog";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "elements";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "product";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "clients";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */
//About Us Page
.about_us_content_section{
  .contact_info{
    list-style-type: none;
    padding-inline-start:0;
    li{
      margin-bottom: 15px;
      b{
        color: $baseColor;
      }
    }
  }
}
